%h1 Estimates

.ui.large.icon.input
  %input#search{placeholder: "Search...", type: "text"}
  %i.search.icon

%table.ui.selectable.celled.table
  %thead
    %tr
      %th Name
      %th Phone
      %th Email
      %th Date
  %tbody
    - @estimate.each do |estimate|
      %tr
        %td
          - if estimate.title.present?
            = link_to estimate.title, estimate
          - else
            = link_to 'Name NIL', estimate
        %td= estimate.phone
        %td= estimate.email
        %td= estimate.created_at

:javascript
  var $rows = $('table tbody tr');
  $('#search').keyup(function() {
    var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
      reg = RegExp(val, 'i'),
      text;
    console.log($rows)
    $rows.show().filter(function() {
      text = $(this).text().replace(/\s+/g, ' ');
      return !reg.test(text);
    }).hide();
  });