.ui.grid
  .four.wide.column
  .eight.wide.column
    .ui.segment
      .ui.center.aligned.header Sign up
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification
        .form-inputs
          .ui.form
            = f.input :email, required: true, autofocus: true, class: 'ui input'
            = f.input :password, required: true, class: 'ui input'
            = f.input :password_confirmation, required: true, class: 'ui input'
        .ui.hidden.divider
        .form-actions
          = f.button :submit, "Sign up"
        .ui.divider
      = render "devise/shared/links"
  .four.wide.column
