= simple_form_for @build, html: { multipart: true } do |f|  
  .ui.segment
    .ui.accordion
      .title.active#info
        %i.icon.dropdown
        Your Information
      .content.active#content
        .ui.basic.segment
          .ui.two.column.grid
            .inline.fields
              .field
                = f.input :name, placeholder: 'John Smith', input_html: { class: 'ui input'}
              .field
                = f.input :phone, type: 'tel', placeholder: '(555) 123-4567', input_html: { class: 'ui input', id: 'phone'}
              .field
                = f.input :email, placeholder: 'example@example.com', input_html: { class: 'ui input'}
              .field
                = f.input :primary_contact, collection: ['Phone', 'Email'], default: "Phone", input_html: { class: 'ui selection dropdown'}

            .column
              %h3 Current Address
              = f.input :start_type, label: "Type", collection: ['House', 'Apartment', 'Condo', 'Business'], default: "Home", input_html: { class: 'ui selection dropdown'}
              = f.input :start_address, label: "Address", input_html: { class: 'ui input'}
              = f.input :start_city, label: "City", input_html: { class: 'ui input'}
              = f.input :start_state, label: "State", input_html: { class: 'ui input'}
              = f.input :start_zip, label: "ZIP", input_html: { class: 'ui input'}
            .column
              %h3 Destination
              = f.input :destination_type, label: "Type", collection: ['House', 'Apartment', 'Condo', 'Business'], default: "Home", input_html: { class: 'ui selection dropdown'}
              = f.input :destination_address, label: "Address", input_html: { class: 'ui input'}
              = f.input :destination_city, label: "City", input_html: { class: 'ui input'}
              = f.input :destination_state, label: "State", input_html: { class: 'ui input'}
              = f.input :destination_zip, label: "ZIP", input_html: { class: 'ui input'}

          .ui.basic.divider
          = f.input :moving_date, label: "When are you looking to move?", input_html: { class: 'ui input', type: "date"}
          = f.input :description, label: "Any other information you would like to provide?", input_html: { class: 'ui input'}

  .ui.primary.button.trigger#next
    Next

  .ui.segment#build{style: 'display: none;'}
    %h3 Tell us about your move
    .ui.positive.message
      %i.close.icon
      Take your time and add everything you plan on having moved. This will help us give you the best estimate possible. For best results go room by room and add everything you see. Don't forget to add boxes!
    #rooms
      = f.simple_fields_for :rooms do |room|
        = render 'room_fields', f: room
    .links
      = link_to_add_association "Add Room", f, :rooms, class: 'ui secondary button'

  .ui.basic.segment#finish{style: 'display: none;'}
    = f.button :submit, "Finish", class: 'ui primary button'

:javascript
  $('.ui.accordion').accordion();
  $('select.dropdown').dropdown();

  $(document).ready(function(){
    $('#phone').mask('(999) 999-9999');
  });

  $( "#next" ).on( "click", function() {
    if($( "#info" ).hasClass('active')){
      $( "#info" ).click()
    }
    $( "#next" ).hide();
    $("#build").toggle();
    $("#finish").toggle();
  });
