:css
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .right {
    margin: auto;
    float: right;
    padding: 10px;
  }

.ui.segments.nested-fields
  .ui.tertiary.compact.segment
    .ui.grid
      .three.wide.column
        .field.name
          #room_name= f.input :name, label: false, collection: @room_type, default: "Room", input_html: { class: 'ui search dropdown'}
      .six.wide.column
        %h4.center Description
      .six.wide.column
        %h4.right Quantity
      .one.wide.column
        = link_to_remove_association  f do
          %i.red.large.trash.alternate.icon{style: "float: right; margin-top: 10px;"}

  .ui.segment.nested-fields
    #items
      = f.simple_fields_for :items do |item|
        = render 'item_fields', f: item
    .links
      .ui.divider
      = link_to_add_association "Add Item", f, :items, class: "ui secondary button"

:javascript
  $('select.dropdown').dropdown();
