%h1.ui.header.center{style: 'font-size: 3em; text-align: center;'}
  Hul-A-Way

.ui.two.column.grid
  .column
    .row
      %h2
        = @build.name
    .row
      .ui.horizontal.list
        .item
          %h4 Estimated Time:   
          = @build_time
        .item
          %h4 Estimated Cost:
          = @build_cost
        .item
          %h4 Estimated Weight:
          = @build_weight
  .column

.ui.two.column.grid
  .column
    .row
      .ui.horizontal.list
        .item
          %h4 Phone:
          = @build.phone
        .item
          %h4 Email:
          = @build.email
    .row
      .ui.horizontal.list
        .item
          %h4 Contact by:
          = @build.primary_contact
        .item
          %h4 Date of move:
          = @build.moving_date
  .column
    %h4 Description:
    = @build.description

.ui.two.column.grid
  .column
    .ui.list
      .item
        %h4{style: 'margin-bottom: 0px;'} Current Address
        = @build.start_address
        .br
        = @build.start_city
        = @build.start_state
        = @build.start_zip
      .item
        %h5 Type
        = @build.start_type

  .column
    .ui.list
      .item
        %h4{style: 'margin-bottom: 0px;'} Destination Address
        = @build.destination_address
        .br
        = @build.destination_city
        = @build.destination_state
        = @build.destination_zip
      .item
        %h5 Type
        = @build.destination_type

.ui.divider

%table.ui.celled.table
  %tbody
    - @build.rooms.each do |room|
      %tr{style: 'background-color: #d3d3d3;'}
        %td
          = room.name
        %td
          Description
        %td
          Quantity
      - room.items.each do |item|
        %tr
          %td
            = item.name
          %td
            =item.description
          %td
            = item.quantity

= link_to "Edit", edit_build_path, class: "ui secondary button"
- if current_user.try(:admin?)
  = link_to "Delete", build_path, method: :delete, data: { confirm: "Are you sure?"}, class: "ui negative button"

:javascript
  $('.ui.modal')
    .modal('attach events', '.test.ui.button',' show')
  ;