.ui.container
  .ui.secondary.pointing.massive.menu
    = link_to 'Hul-A-Way', root_path, class: "header item"
    .right.menu
      = link_to 'Home', home_path, class: "a item"
      = link_to 'Contact', contact_path, class: "a item"
      = link_to 'About', info_path, class: "a item"
      = link_to 'Quote', quote_path, class: "a item"